<script setup>
import { computed, ref } from 'vue'
import { getImgUrl,debounce } from '../util'

const list = ref([
  {
    className: 'font',
    url: ''
  },
  {
    className: 'back',
    url: ''
  },
  {
    className: 'top',
    url: ''
  },
  {
    className: 'bottom',
    url: ''
  },
  {
    className: 'left',
    url: ''
  },
  {
    className: 'right',
    url: ''
  },
  {
    className: 'i-font',
    url: ''
  },
  {
    className: 'i-back',
    url: ''
  },
  {
    className: 'i-top',
    url: ''
  },
  {
    className: 'i-bottom',
    url: ''
  },
  {
    className: 'i-left',
    url: ''
  },
  {
    className: 'i-right',
    url: ''
  }
])

const defalutList = [
  '1.jpg',
  '2.jpg',
  '3.jpg',
  '4.jpg',
  '5.jpg',
  '6.jpg',
  '7.jpg',
  '8.jpg',
  '9.jpg',
  '10.jpg',
  '11.jpg',
  '12.jpg'
]
const setImgUrl = imgList => {
  list.value.forEach((item, index) => {
    if (imgList) {
      item.url = imgList[index]
    } else {
      item.url = getImgUrl(defalutList[index])
    }
  })
}
setImgUrl()

const computedStyle = ref({})


const todo = () => {
  // 900 -> 400
 const minDistance = Math.min(window.innerWidth, window.innerHeight)
  const radio = 4 / 9
  const outWidth = radio * minDistance
  const outDistance = outWidth / 2
  const outHoverDistance = (outDistance * 3) / 2
  const innerWidth = outWidth / 2
  const innerDistance = innerWidth / 2
  computedStyle.value = {
    '--outWidth': outWidth + 'px',
    '--outDistance': outDistance + 'px',
    '--outHoverDistance': outHoverDistance + 'px',
    '--innerWidth': innerWidth + 'px',
    '--innerDistance': innerDistance + 'px'
  }
}
todo()
window.onresize = debounce(todo, 500)

const isOpen = ref(false)
const changeStatus = () => {
  console.log(`展开状态：${!isOpen.value}`)
  isOpen.value = !isOpen.value
}

const uploadFile = ref(null)
const handleFileChange = async e => {
  const loading = ElLoading.service({
    lock: true,
    text: 'Loading...'
  })
  const files = Array.from(e.target.files)
  const imgList = await Promise.all(files.map(file => fixImgList(file)))
  // 需要保持12张图片
  const resImgList = imgListNumChange(imgList)
  setImgUrl(resImgList)
  console.log(imgList)
  loading.close()
}
const fixImgList = file => {
  return new Promise(resolve => {
    const render = new FileReader()
    render.onload = e => {
      resolve(e.target.result)
    }
    render.readAsDataURL(file)
  })
}
const imgListNumChange = (imgList, length = 12) => {
  // 创建一个新数组，用于存放最终的结果
  let result = []

  // 使用循环，不断将a数组的元素添加到结果数组中，直到结果数组的长度达到或超过目标长度
  while (result.length < length) {
    result = result.concat(imgList)
  }

  // 最后，使用slice方法截取结果数组的前12个元素
  return result.slice(0, length)
}
</script>

<template>
  <input
    type="file"
    multiple
    accept="image/*"
    ref="uploadFile"
    class="upload-file"
    @change="handleFileChange"
  />
  <div class="start-choose-btn" @click="uploadFile.click()">更换照片</div>
  <div class="container" :style="computedStyle">
    <div class="box">
      <div class="box1" @touchstart.native.prevent="changeStatus">
        <div
          v-for="item in list"
          :class="[
            item.className,
            item.className.startsWith('i') ? 'inner' : 'outer',
            !item.className.startsWith('i') && isOpen
              ? `open-${item.className}`
              : ''
          ]"
          :style="{ backgroundImage: `url(${item.url})` }"
        ></div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.start-choose-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 23px;
  font-family: 'qh';
  color: #f18686;
  cursor: pointer;
}
.upload-file {
  display: none;
}
.container {
  // 900 * 900
  // @outWidth: 400px;
  // @outDistance: 200px;
  // @outHoverDistance: 300px;
  // @innerWidth: 200px;
  // @innerDistance: 100px;
  @outWidth: var(--outWidth);
  @outDistance: var(--outDistance);
  @outHoverDistance: var(--outHoverDistance);
  @innerWidth: var(--innerWidth);
  @innerDistance: var(--innerDistance);

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 900px;
  }

  /*形成魔方并且旋转*/

  @keyframes dh {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }

  .box1 {
    width: @outWidth;
    height: @outWidth;
    transform-style: preserve-3d;
    animation: dh 10s linear infinite;
    cursor: pointer;
    .outer {
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      color: white;
      transition: 0.6s;
      opacity: 0.8;
      background-size: cover;
    }
    .font {
      transform: translateZ(@outDistance);
    }

    .back {
      transform: rotateY(180deg) translateZ(@outDistance);
    }

    .right {
      transform: rotateY(90deg) translateZ(@outDistance);
    }

    .left {
      transform: rotateY(-90deg) translateZ(@outDistance);
    }

    .top {
      transform: rotateX(90deg) translateZ(@outDistance);
    }

    .bottom {
      transform: rotateX(-90deg) translateZ(@outDistance);
    }

    .open-outer {
      opacity: 0.4;
      transition-duration: 1s;
    }

    .open-font {
      transform: translateZ(@outHoverDistance);
    }

    .open-back {
      transform: rotateY(180deg) translateZ(@outHoverDistance);
    }

    .open-right {
      transform: rotateY(90deg) translateZ(@outHoverDistance);
    }

    .open-left {
      transform: rotateY(-90deg) translateZ(@outHoverDistance);
    }

    .open-top {
      transform: rotateX(90deg) translateZ(@outHoverDistance);
    }

    .open-bottom {
      transform: rotateX(-90deg) translateZ(@outHoverDistance);
    }

    @media (hover: hover) {
      &:hover {
        /*悬浮效果*/

        .outer {
          opacity: 0.6;
          transition-duration: 1s;
        }

        .font {
          transform: translateZ(@outHoverDistance);
        }

        .back {
          transform: rotateY(180deg) translateZ(@outHoverDistance);
        }

        .right {
          transform: rotateY(90deg) translateZ(@outHoverDistance);
        }

        .left {
          transform: rotateY(-90deg) translateZ(@outHoverDistance);
        }

        .top {
          transform: rotateX(90deg) translateZ(@outHoverDistance);
        }

        .bottom {
          transform: rotateX(-90deg) translateZ(@outHoverDistance);
        }
      }
    }
    /* 将内部盒子设置为外部盒子的一半大小，并定位在外部魔方的内部中心。 */
    .inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: @innerWidth;
      height: @innerWidth;
      background-size: cover;
    }

    /* 将内部的六面在X,Y,Z,轴上旋转形成正方形 */
    .i-font {
      transform: translate(-50%, -50%) translateZ(@innerDistance);
    }

    .i-back {
      transform: translate(-50%, -50%) rotateY(180deg)
        translateZ(@innerDistance);
    }

    .i-right {
      transform: translate(-50%, -50%) rotateY(90deg) translateZ(@innerDistance);
    }

    .i-left {
      transform: translate(-50%, -50%) rotateY(-90deg)
        translateZ(@innerDistance);
    }

    .i-top {
      transform: translate(-50%, -50%) rotateX(90deg) translateZ(@innerDistance);
    }

    .i-bottom {
      transform: translate(-50%, -50%) rotateX(-90deg)
        translateZ(@innerDistance);
    }
  }
}
</style>
