html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


@font-face {
  font-family: 'qh';
  src: url(./演示秋鸿楷.ttf);
}
