<script setup>
import Photo from './components/Photo.vue'
</script>

<template>
  <div class="app">
    <Photo />
  </div>
</template>

<style scoped>
.app {
  width: 100vw;
  height: 100vh;
  background-image: url('@/assets/bg.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
</style>
